<!-- script src="https://js.stripe.com/v3/"></script -->

<div class="{{= it.classes}}">
    <div id="paymentelement" class="paymentelement">
        <slot id="paypal-element-slot"></slot>
    <!-- div class="message"  style="display: none;">&#160;</div -->
</div>


