<!--
  Copyright (c) 2021.
  -->
<aside class="aurora-drawer {{= it.classes}}  {{? it.dense }} dense {{?}}" aurora-slot="main"
     data-width="{{= it.width}}"
     style="width: {{= it.width}};"
>
</aside>

