.hidden { display: none; }

.aurora-comment-wrapper {
    color: #464e60;
}

.aurora-comment-wrapper,
.aurora-comment-level1-wrapper {
 overflow: visible;
}



/*  need to be defined on comment-wrapper and just refined on levels....*/
.aurora-comment.lvl_1 {
    border: 1px solid #dddfe2;
    border-radius: 3px;
    margin-bottom: .5em;
    padding: 12px;
    padding-bottom: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 90px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 10px 90px 10px rgba(0,0,0,0.05);
    box-shadow: 0 10px 90px 10px rgba(0,0,0,0.05);
    clear: both;
}

.aurora-comment-level1-wrapper .aurora-comment-header,{ width: 100%; position: relative; }

.aurora-comment-avatar {
    display: inline-block;
    float: left;
}

.aurora-comment-avatar img {
    width: 70px;
    width: 60px;
    border-radius: 6px;
    border-style: none;
    float:left;
}

/*
*   LEVEL 2
*/

.aurora-comment.lvl_2 {

}

.lvl_2 .aurora-comment-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.lvl_2 .aurora-comment-avatar {
    width: 65px;
}

.lvl_2 .aurora-content-wrapper {
    background-color: #f1f0f0;
    border-radius: 6px;
    padding: .5em 1em .5em 1em;
}

.lvl_2 .aurora-comment-right-column {
    width: 100%;
}

.lvl_2 .aurora-comment-avatar img {
    width: 40px;
    margin-left: 15px;
}

.lvl_2 .aurora-comment-creator-name {
    background-color: initial;
    font-size: initial;
    text-decoration: underline;
    padding: initial;
}
.lvl_2 .aurora-comment-creator-name a {
    text-decoration: none;
    background-color: initial;
    border-color: initial;
    color: initial;
}

.aurora-comment-meta-wrapper {
    display: inline-block;
    float: left;
    padding-left: 10px;
    overflow: visible;
}

.aurora-comment-creator-name {
    vertical-align: top;

    background-image: none;
    text-transform: none;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;

    background-color: #474e60;
    border-color: #474e60;
    color: #fff;
    font-size: .8em;
    padding: 1px 7px;
}
.aurora-comment-creator-name a  {
    text-decoration: none;
    background-color: #474e60;
    border-color: #474e60;
    color: #fff;
}

.aurora-comment-creation-date {
    font-size: 0.8em;
    line-height: .8em;
    font-weight: bold;
    margin-top: 0.5em;
    overflow: visible;
}

.aurora-comment-content {
    clear: both;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 1em 0px;
}

.aurora-comment-feedback-summary {
    border-top: 1px solid #dddfe2;
    padding-top: .3em;
    padding-bottom: .3em;
    overflow: hidden;
}

.aurora-comment-feedback-likes { float: left; font-weight: bold; user-select: none;}
.aurora-comment-feedback-comments { float: right; font-weight: bold;  cursor: pointer;  user-select: none;}

.comments-arrow {
    width: 0;
    height: 0;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #000;
    transition-duration: .1s;
    float: right;
    position: relative;
    top: .4em;
    margin-left: .4em;
}
.open .comments-arrow {
    transform: rotate(180deg);
}

.aurora-comment-actions {
    overflow: hidden;
    padding: 5px;
    border-top: 1px solid #dddfe2;
    border-bottom: 1px solid #dddfe2;
    margin-bottom: 1em;
}

.lvl_1 .aurora-comment-action-like,
.lvl_1 .aurora-comment-action-comment {
    border: 1px solid transparent;
    background-image: none;
    background-color: transparent;
    text-transform: none;
    font-weight: 700;

    line-height: 1.25em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lvl_1 .aurora-comment-action-comment,
.lvl_1 .aurora-comment-action-like {
    width: 50%;
    float: left;
    background-color: #fff;
    border-color: #fff;
}
.aurora-comment-action-comment { float: right; }

.aurora-comment-action-comment .material-icons,
.aurora-comment-action-like .material-icons {
    padding-right: .4em;
    font-size: 1.2em;
}

.lvl_1 .aurora-comment-action-like:hover,
.lvl_1 .aurora-comment-action-comment:hover { background-color: #e4e4e4; }

.aurora-comment-response-wrapper {
    display: none;
    width: 100%;
    margin-bottom: .5em;
}
.aurora-comment-response-wrapper.open {
    display: table;
}

.aurora-comment-new-reply-content-row {
    display: table-row;
}

.aurora-comment-action-reply.active,
.aurora-comment-action-like.active { cursor: pointer; }
.aurora-comment-action-reply.active:hover,
.aurora-comment-action-like.active:hover { text-decoration: underline; }

.aurora-comment-action-like.liked { color: #1a75d2; }

.lvl_2 .aurora-comment-likes,
.lvl_2 .aurora-comment-action-reply,
.lvl_2 .aurora-comment-age-formated,
.aurora-comment-action-separator {
    display: inline-block;
}

.aurora-comment-cl2-reply-actions { display: table-cell; overflow: visible; }
.aurora-comment-age-formated { float: right; }
.aurora-comment-cl2-action.type-attach { display: inline-block; cursor: pointer; }
.aurora-comment-cl2-action.type-attach i { transform: rotate(45deg); }
.aurora-comment-cl2-action.type-submit { float: right; }

.aurora-comment-entrybox-textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    resize: vertical;
    padding: .5em;
}


.mesu-cl1-edit-actions { display: none;  float: right;}
.mesu-cl1-content:hover .mesu-cl1-edit-actions {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: grey;
    color: #fff;
}
.mesu-cl1-feedback-summary_,
.mesu-cl1-actions {
    border-top: 1px solid #dddfe2;
}
.mesu-cl1-actions { clear: both;}


.mesu-cl2-avatar,
.mesu-cl3-avatar,
.mesu-cl4-avatar,
.mesu-cl5-avatar,
.mesu-cl6-avatar,
.mesu-cl7-avatar,
.mesu-cl8-avatar,
.mesu-cl9-avatar,
.mesu-clplus-avatar { width: 65px; }

.mesu-cl1-avatar img { width: 70px; border-radius: 6px; border-style: none; float:left;}

.mesu-cl2-avatar img,
.mesu-cl3-avatar img,
.mesu-cl4-avatar img,
.mesu-cl5-avatar img,
.mesu-cl6-avatar img,
.mesu-cl7-avatar img,
.mesu-cl8-avatar img,
.mesu-cl9-avatar img,
.mesu-clplus-avatar img { width: 40px; border-radius: 6px; border-style: none; float:left; margin-left: 15px;}

.mesu-avatar.trainer img,
.mesu-avatar.moderator img,
.mesu-avatar.support img,
.mesu-avatar.technician img
{
    box-shadow: 0 0 0 1px rgba(255,255,255,0.3), 0 0 0 3px @btn-primary-bg-col, 0 0 0 3px #464e6057, 0 0 0px 0px @btn-primary-bg-col;
}



.mesu-cl1-more { text-align: center; font-weight: bold; }

.mesu-cl1-actions-comment,
.mesu-cl1-actions-like { width: 50%; float: left; background-color: #fff; border-color: #fff; }

.mesu-cl1-actions-comment:hover,
.mesu-cl1-actions-like:hover { background-color: #e4e4e4; }

.mesu-new-reply-wrapper,
.mesu-comment-edit-wrapper {
    display: table;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #dddfe2;
}

.mesu-new-reply-content-row,
.mesu-cl2-new-reply-content-row,
.mesu-cl3-new-reply-content-row,
.mesu-new-reply-action-row,
.mesu-content-row,
.mesu-edit-content-row,
.mesu-cl2-new-reply-action-row { display: table-row; }

.mesu-cl2-avatar,
.mesu-cl3-avatar,
.mesu-cl4-avatar,
.mesu-c12-content-wrapper,
.mesu-comment-edit,
.mesu-new-reply { display: table-cell; vertical-align: top; }

.mesu-comment-edit-wrapper textarea,
.mesu-new-reply textarea { width: 100%; border-radius: 5px; border: 1px solid #dddfe2; resize: vertical; padding: .5em;}


.mesu-c11-replies { display: none; }
.mesu-c11-replies.mesu-show-replies { display: block; border-top: 1px solid #dddfe2; padding-top: 1em; }

/*
.mesu-cl2-new-reply-wrapper,
.mesu-cl3-new-reply-wrapper { display: none; }
*/
.mesu-new-reply-wrapper { display: none; }

.mesu-cl2-wrapper,
.mesu-cl3-wrapper,
.mesu-cl4-wrapper,
.mesu-cl2-new-reply-wrapper.mesu-show-new-reply,
.mesu-new-reply-wrapper.mesu-show-new-reply
{ display: table; width: 100%; }

.mesu-c14-content-user-name,
.mesu-c13-content-user-name,
.mesu-c12-content-user-name { font-weight: bold; text-decoration: underline;}

.mesu-c14-parent-user-name,
.mesu-c14-content-user-name { display: inline-block; }


.mesu-c14-comment p,
.mesu-c12-comment p { margin-top: 0px; margin-bottom: 0px;}
.mesu-c12-comment-wrapper,
.mesu-c14-comment-wrapper {
    border-radius: 6px;
    background-color: #f1f0f0;
    padding: .5em 1em .5em 1em;
}

.mesu-c14-comment-wrapper,
.mesu-c13-comment-wrapper,
.mesu-c12-comment-wrapper { position: relative; }

.mesu-c14-comment-wrapper .mesu-menu-actions .dropdown_toggle,
.mesu-c13-comment-wrapper .mesu-menu-actions .dropdown_toggle,
.mesu-c12-comment-wrapper .mesu-menu-actions .dropdown_toggle { right: 5px; }

.mesu-comment-image-file { display: none; }
.mesu-cl2-wrapper .mesu-comment-action-like:hover,
.mesu-cl2-wrapper .mesu-comment-action-comment:hover { text-decoration: underline; cursor: pointer;  }

.mesu-comment-freshness { float: right; }

.mesu-action-wrapper {
    padding-top: .2em;
    padding-bottom: .8em;
}

.mesu-reply-upload-pic {
    width: 100%;
    display: block;
    margin-bottom: .4em;
}


.comment-form {
    margin-bottom: 2em;
    overflow: hidden;
}

.comment-form-comment textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dddfe2;
    resize: vertical;
    padding: .5em;
    height: 5em;
}

.comment-form .mesu-reply-image  {
    margin-bottom: 1em;
}

.mesu-comment-image-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.mesu-comment-image-overlay-inside {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.mesu-comment-image-overlay-inside:before {
    content: "\f067";
    font-family:'FontAwesome';
    position: absolute;
    border-radius: 50px;
    background: @btn-primary-bg-col;
    color: @btn-primary-txt-col;
    /*  border: 1px solid @btn-primary-txt-col; */
    height: 2em;
    width: 2em;
    line-height: 2em;
    left: 50%;
    top: 50%;
    margin: -1em 0 0 -1em;
    z-index: 500;
    text-align: center;
    font-size: 2em;
}

a:hover .mesu-comment-image-overlay {
    opacity: 0.9 !important;
}

.mesu-comment-lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 100px;
    background: rgba(0,0,0,0.8);
}

.mesu-comment-lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
}


.mesu-menu-actions button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 0px;
    top: 0px;
}
.aurora-comment-level1-wrapper.mesu-lbl-comment-user-role,
.aurora-comment-level1-wrapper.mesu-lbl-comment-user-role:hover,
.aurora-comment-level1-wrapper.mesu-lbl-comment-user-role a:hover,
.mesu-lbl-comment-user:hover,
.mesu-lbl-comment-user a:hover,
.mesu-lbl-comment-user,
.mesu-lbl-comment-user a {
    background-color: @prod-lbl-comment-user-bg-col;
    border-color: @prod-lbl-comment-user-bg-col;
    color: @prod-lbl-comment-user-txt-col;
}


.mesu-cl1-creator .mesu-lbl-comment-user-role,
.mesu-cl1-creator .mesu-lbl-comment-user-role:hover,
.mesu-cl1-creator .mesu-lbl-comment-user-role a:hover,
.mesu-cl2-wrapper .mesu-lbl-comment-user-role,
.mesu-cl2-wrapper .mesu-lbl-comment-user-role:hover,
.mesu-cl2-wrapper .mesu-lbl-comment-user-role a:hover {
    background-color: initial;
    border-color: initial;
    color: inherit;
}


.mesu-lbl-comment-user-role { cursor: initial; }
.mesu-lbl-comment-user-role::after {
    content: attr(data-role-txt);
}

.mesu-comment-action-like.liked .fa::before {
    content: "\f164";
}

.mesu-comment-action-like.liked  { font-weight: bold; }

@media screen and (max-width: 768px) {
    #comments {
        margin-left: 0px;
        margin-right: 0px;
    }
}
