<div class="aurora-checkbox-container {{= it.classes}}">
    <label class="aurora-checkbox">
        <input type="checkbox"
               name="{{= it.name}}"
               val="{{= it.val}}"
               {{? it.isdisabled}} disabled {{?}}
        >
        <span>{{= it.label}}
            <span class="aurora-checkbox-hint">{{=it.hint}}</span>
        </span>
    </label>

</div>
