<div class="aurora-checkbox-container {{= it.classes}}">
    <label class="aurora-checkbox">
        <input type="checkbox"
               name="{{= it.name}}"
               {{? it.isdisabled}} disabled {{?}}
        >
        <span>{{= it.label}}</span>
    </label>
</div>
