<!--
  ~ Copyright (c) 2021.
  -->

<div class="aurora-tab-list  {{=it.classes}}">
    <div class="aurora-tab-list-tabs"aurora-slot="main"></div>
    <div class="aurora-tab-list-indicator"></div>
</div>