<!--
  ~ Copyright (c) 2021.
  -->

<div class="aurora-section {{= it.classes}} ">
     <div class="legend-wrapper">
          <div class="legend" label="{{= it.label}}"></div>
          {{? it.isAccordion }}
          <div class="accordion-trigger">
               <i class="material-icons">expand_more</i>
          </div>
          {{?}}
     </div>
     <div class="section-content"  aurora-slot="main" ></div>
</div>
