<!--
  ~ Copyright (c) 2021.
  -->

<div class="aurora-section {{= it.classes}}">
     <div class="legend-wrapper">
          <legend label="{{= it.label}}"></legend>
     </div>
     <div class="section-content"  aurora-slot="main" ></div>
</div>
