
checkout-class {

}

.paymentelement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-icon-csc,
.card-icon-card { display: none; }

.cardCvc .card-icon-csc,
.cardNumber .card-icon-card { display: block; }


.cardCvc .magstripe,
.cardNumber .magstripe { fill: var(--gpcp-color-action); }