<!--
  ~ Copyright (c) 2021.
  -->

<div class="aurora-avatar {{= it.classes}}">
 {{? it.useiconurl }}
  <img src="{{=it.icon}}">
 {{??}}
  <i aria-hidden="true" class="material-icons aurora-button-icon"><!---->{{=it.icon}}<!----></i>
 {{?}}
</div>
