<button class="aurora-floatingactionbutton aurora-button-raised aurora-button-container {{= it.classes}}" >
    <i aria-hidden="true" class="material-icons aurora-icon">add</i>
    <div class="aurora-button-ripple"></div>
</button>