<button class="mdc-button mdc-button--raised inline-demo-button mdc-ripple-upgraded" style="--mdc-ripple-fg-size:56px; --mdc-ripple-fg-scale:1.97577; --mdc-ripple-fg-translate-start:37.75px, 2.14844px; --mdc-ripple-fg-translate-end:18.9922px, -10px;">

    <i aria-hidden="true" class="material-icons mdc-button__icon"><!---->star<!----></i>

    <span class="mdc-button__label"><!---->Button<!----></span>
    <div class="mdc-button__ripple"></div>
</button>
https://codepen.io/TrevorWelch/pen/NwERXE