<!--
  ~ Copyright (c) 2022.
  -->


<div class="navigation-item" >
    <div class="icon-label">
        <div class="icon">icon</div>
        <div class="label">label</div>
    </div>
    <div class="badge">badge</div>
</div>
