<!--
  ~ Copyright (c) 2022.
  -->

<div id="navigation-item">
    <div class="navigation-item {{= it.classes}}">
        <div class="navigation-item-wrapper">
            <div class="icon">{{= it.icon_html}}</div>
            <div class="label">{{= it.label}}</div>
            <div class="badge">{{= it.badge}}</div>
        </div>
    </div>
</div>
