<div class="aurora-blueprint-container {{= it.classes}}  {{? it.dense }} dense {{?}}" style="{{= it.layoutstyle}}">
    <main class="aurora-blueprint-container-main" aurora-slot="main"></main>
</div>
