<div class="aurora-blueprint-container {{= it.classes}}"
     style= "
        width: 100%;
        height: calc( 100vh - 79px);
        padding-top: 79px;
        padding-left: 30%;
        "
>
    <main aurora-slot="main"></main>
</div>
