This is a PINCODE
<div class="aurora-pincode-input pins-{{=it.inputs}}">
    {{~it.pins :value:index}}
    <input type="text" maxlength="1" autocomplete="off" placeholder="0"
           class="aurora-pin-digit">
    {{~}}
</div>