<div class="aurora-pincode-input pins-{{=it.digits}}">
    {{~it.pins :value:index}}
    <input type="text"
           autocomplete="off"
           required
           class="aurora-pin-digit">
    {{~}}
</div>