
.aurora-pincode-input {
    display: inline-flex;
    width: 100%;
}

.aurora-pin-digit {
    border-color: transparent;
    background: transparent;
    border-bottom: 1.5px solid #cccccc;
    text-align: center;
    font-size: 2em;
    margin-right: 5px;
    margin-left: 5px;
}



.aurora-pincode-input.pins-1 .aurora-pin-digit { width: 100%; }
.aurora-pincode-input.pins-2 .aurora-pin-digit { width: 50%; }
.aurora-pincode-input.pins-3 .aurora-pin-digit { width: 33%; }
.aurora-pincode-input.pins-4 .aurora-pin-digit { width: 25%; }
.aurora-pincode-input.pins-5 .aurora-pin-digit { width: 20%; }
.aurora-pincode-input.pins-6 .aurora-pin-digit { width: 16.6%; }
.aurora-pincode-input.pins-7 .aurora-pin-digit { width: 14.2%; }
.aurora-pincode-input.pins-8 .aurora-pin-digit { width: 12.5%; }
.aurora-pincode-input.pins-9 .aurora-pin-digit { width: 11.1%; }
.aurora-pincode-input.pins-10 .aurora-pin-digit { width: 10%; }

.aurora-pin-digit:active,
.aurora-pin-digit:focus {
    outline: 0px transparent !important;
    box-shadow: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-top: transparent !important;
    border-color: var(--p);
    animation: border-pulsate 1.5s infinite;
    -webkit-tap-highlight-color: transparent;
}