.aurora-toolbar {
    padding-right: 12px;
    padding-left: 12px;
    color: var( --primaryTextColor );
    background-color: var( --primaryColor );
    min-height: 50px;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}




