<div class="aurora-image-cropper"
     data-label="{{= it.label }}"
     data-ratio="{{= it.ratio }}"
     data-size="{{= it.size }}"
     data-layout="{{= it.layout }}"
     data-width="{{= it.width }}"
     data-align="{{= it.align }}"
></div>
<div class="aurora-hint aurora-text-field-helper-text">{{= it.hint }}</div>
