<div class="slim aurora-image-cropper {{= it.style}}"
     data-label="{{= it.label }}"
     data-ratio="{{= it.ratio }}"
     data-size="{{= it.size}}"
     data-style="{{= it.layout }}"
     data-width="{{= it.width }}"
     data-align="{{= it.align }}"
>
    {{? it.src }}
    <img src="{{= it.src }}"/>
    {{?}}
</div>
