<div class="aurora-switch-container {{= it.classes}}">
    <label class="aurora-switch">
        <input type="checkbox"
           name="{{= it.name}}"
           {{? it.isdisabled}} disabled {{?}}
        >
        <span>{{= it.label}}</span>
    </label>
</div>
