:host(aurora-switch) {
    overflow: visible;
}

.aurora-switch-wrapper,
.aurora-switch-container,
.aurora-switch {
    overflow: visible;
}

.aurora-switch-wrapper {
    margin-top: .4em;
    margin-bottom: .4em;
}

.aurora-switch {
    z-index: 0;
    position: relative;
    line-height: 42px;

    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;

}

.fullwidth .aurora-switch { display: flex; }
.fullwidth.position-right .aurora-switch { justify-content: space-between; }

.position-left .aurora-switch { flex-direction: row; }
.position-left .track { margin: 5px 10px 5px 0; }
.position-left .thumb { right: 38px; }

    /* Input */
.aurora-switch input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    display: none;
    /*
    position: absolute;
    right: 17px;
    top: 2px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: var( --md-sys-color-outline );
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
     */
}

/* Span */
.aurora-switch  .label-text {
    display: inline-block;
    max-width: calc( 100% - 65px );
    line-height: 1.2em;
}

/* Track */
/*
.aurora-switch > span::before {
    content: "";
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 52px;
    width: 48px;
    height: 28px;
    border: 2px solid var( --md-sys-color-outline );
    background-color: var( --md-sys-color-surface-variant );
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}
*/

.switch { position: relative; }
.track {
    float: right;
    display: inline-block;
    margin: 5px 0 5px 10px;
    border-radius: 52px;
    width: 52px;
    height: 32px;
    border: 2px solid var( --md-sys-color-outline );
    background-color: var( --md-sys-color-surface-variant );
    vertical-align: top;
    transition: background-color 0.2s, opacity 0.2s;
}
.thumb {
    position: absolute;
    top: 13px;
    right: 28px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: var( --md-sys-color-outline );
    transition: background-color 0.2s, transform 0.2s;
}

.aurora-switch input:checked + div.switch .track {
    border: 2px solid var( --md-sys-color-primary );
    background-color: var( --md-sys-color-primary );
}

.aurora-switch input:checked + div.switch .thumb {
    background-color: var( --md-sys-color-on-primary );
    transform: translateX(19px) scale(1.5);
}


.thumb i { opacity: 0; }
.aurora-switch input:checked + div.switch .thumb i {
    position: absolute;
    color: var( --md-sys-color-primary );
    font-size: 11px;
    top: 3px;
    left: 3px;
    opacity: 1;
    transition: opacity 0.2s;
}


.aurora-switch  input:checked + span::before {
    border: 2px solid var( --md-sys-color-primary );
    background-color: var( --md-sys-color-primary );
}

.aurora-switch  input:checked + span::after {
    background-color: var( --md-sys-color-on-primary );
    transform: translateX(19px) scale(1.5);
}

/* Hover, Focus */
.aurora-switch:hover > input {
    opacity: 0.04;
}

.aurora-switch  input:focus {
    opacity: 0.12;
}

.aurora-switch:hover  input:focus {
    opacity: 0.16;
}

/* Active */
.aurora-switch  input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.aurora-switch  input:active + span::before {
    background-color: var(--secondaryColor, 33, 150, 243);
    border: 2px solid;
    opacity: .6;
}

.aurora-switch  input:checked:active + span::before {
    background-color: rgba( 0, 0, 0, 0.38);
}

/* Disabled */
.aurora-switch  input:disabled {
    opacity: 0;
}

.aurora-switch  input:disabled + span {
    color: rgb(0, 0, 0);
    opacity: 0.38;
    cursor: default;
}

.aurora-switch  input:disabled + span::before {
    background-color: rgba(0, 0, 0, 0.38);
}

.aurora-switch  input:checked:disabled + span::before {
    background-color: var(--secondaryColor, 33, 150, 243);
    opacity: .6;
}

.aurora-switch input + div.switch .track::after {
    content: "";
    z-index: -1;
    position: absolute;
    right: 17px;
    top: 2px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: var( --md-sys-color-outline );
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
}
.aurora-switch input:checked + div.switch .track::after {
    right: -3px;
    background-color: var( --md-sys-color-primary );
}

.aurora-switch  input:focus + div.switch .track::after {
    opacity: 0.12;
}

.aurora-hint {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0333333333em;
    text-decoration: inherit;
    text-transform: inherit;
    display: block;
    margin: 0;
    line-height: normal;
}