:host(aurora-switch) {
    overflow: visible;
}

input {
    width: 0px;
    opacity: 0;
}

.aurora-color-wrapper {
    align-items: center;
    display: inline-flex;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--md-sys-color-outline );
    color: var(--md-sys-color-on-surface );
    cursor: pointer;
}

.aurora-label {
    font-family: var(--md-sys-typescale-body1-font);
    font-weight: var(--md-sys-typescale-body1-weight);
    font-size: var(--md-sys-typescale-body1-size);
    letter-spacing: var(--md-sys-typescale-body1-tracking);
    display: inline-block;
    margin-bottom: 5px;
}

.aurora-color-preview {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-left: 10px;
}
