
<div class="aurora-colorpicker-container {{= it.classes}} noselect">
    <label class="aurora-colorpicker">
        <input type="color"
               name="{{= it.name}}"
               {{? it.isdisabled}} disabled {{?}}
        >
        <span class="label-text aurora-label">{{= it.label}}</span>
    </label>
</div>




